*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: "Roboto", sans-serif;

}

aside{
    background-color:#1CD1B0;
    font-size: 20px;
    height: 2rem;
    width: 100%;
    z-index: 2;
}
/* Titulo principal */
header {
    background-color: #00669f;
    color: white;
    font-weight: normal;
    padding: 40px;
    position: sticky;
    top: 0px;
    z-index: 2;
}

.cards-super{
    width: 70%;
    margin: auto;

}
/* Tarjeta entera */ 
.card{
    margin-top: 100px;
}

.card-header{
    position: relative;
    border-radius: 60px 60px 0px 0px;
}

.card-header div{
    position: absolute;
    top: 350px;
    right: 470px;
}
.card-header-bat{
    background-image: url("../img/bg-batman.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
}

.card-header-wonder{
    background-image: url("../img/bg-wonderw.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
}

.card-header-super{
    background-image: url("../img/bg-superman.jpg");
    height: 500px;
    width: 100%;
    background-size: cover;
}

.img-bat{
    background-image: url("../img/batman.jpg");
    width: 300px;
    height: 300px;
    background-position-x: -180px;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.img-wonder{
    background-image: url("../img/wonderw.jpg");
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
}

.img-super{
    background-image: url("../img/superman.jpg");
    width: 300px;
    height: 300px;
    background-position: center;
    background-size: cover;
    border-radius: 50%;
    background-repeat: no-repeat;
}
.card-body{
    background-color: #f3f3f3;
    padding: 170px 50px 40px;
    text-align: center;
}
h2{
    margin-bottom: 20px;
    text-transform: uppercase;
    font-size: 2rem;
}
/* corazon */
.fa-heart {
    color: red;
    font-size: 3rem;
    position: absolute;
    left: 30px;
    top: 30px;
}

/* Boton ver mas */
.card-body a{
    margin: auto;
    display: block;
    background-color: #00669F;
    color: white;
    width: 100px;
    height: 50px;
    padding: 1rem;
    margin-top: 2rem;
    text-decoration: none;

}

/* Pie de pagina*/
footer {
    background-color: #00669f;
    align-items: center;
}


.icono-mas i {
    color: white;
    background-color: #00669f;
    border-radius: 50%;
    font-size: 2rem;
    padding: 0.5rem;
    position: fixed;
    bottom: 50px;
    right: 50px;

}

footer img{
    position: relative;
    right: -1460px;
}

footer p {
    text-align: center;
    font-size: 1.5rem;
    color: white;   
    position: relative;
    top: 40px; 
    
}